@charset "UTF-8";
/* CSS Document */

html {
/*	height: 100%;*/
/*	background-color: black;*/
	background-color: transparent;
}

body {
/*	height: 100%;*/
/*	background-color: antiquewhite;*/
	background-color: transparent;	
}


#outer-container {
/*	height: 100%;*/
/*	min-height:  320vh;*/
/*	background-color: aqua;*/
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 72px;
	background-color: transparent;	
}

.full_page{
	height: 97vh;
}

#outer-container div{
/*	border:solid;*/
}


.work_title {
	height: 20%;
}

.work_description {
	height: 80%;
}

#work-start {
	padding-top: 72px;
}

.orange-gradient {
	background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*
#outer-container div div div div {
	background-color: aqua;
	height: 100%;
}
*/

/*
nav {
    margin-bottom: 0;
	border: 0;
}*/
